<div
  class="text-s1 md:text-s2 font-normal px-6 pt-5 pb-10 md:py-10 lg:py-20 min-h-full"
>
  <div class="max-w-[33.75rem] mx-auto">
    <div class="py-5">
      <button
        type="button"
        class="text-dusk-blue font-bold inline-flex gap-3.5 items-center lg:hover:underline"
        (click)="goBack()"
      >
        <svg
          width="6"
          height="10"
          viewBox="0 0 6 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.33447 9L0.334473 5L4.33447  1"
            stroke="#4661E6"
            stroke-width="2"
          />
        </svg>
        Go Back
      </button>
    </div>
    <div
      class="bg-white px-7 md:px-10 pt-2 pb-7 md:pb-10 mt-14 md:mt-12 rounded-xl mb-8 relative"
    >
      <div
        class="w-[3.5rem] h-[3.5rem] bg-gr rounded-full inline-flex items-center justify-center absolute -top-7 bg-icon-gradient"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 17 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9.5268 2.46562L12.2569 0L17 4.44258L14.4162 7.04933L9.5268 2.46562ZM0 16.713C0.670424 13.9211 2.53903 6.78177 2.53903 6.78177L8.51239 3.36707L13.4871 7.89786L9.68639 13.4371L0.227908 17L4.71171 12.8991C5.471 13.1749 6.54344 12.9255 7.12318 12.3063C7.88852 11.4931 7.83109 10.23 6.99442 9.48554C6.15775 8.74109 4.79514 8.74109 4.0298 9.55434C3.45973 10.1606 3.26326 11.2302 3.5891 11.9353L0 16.713Z"
            fill="white"
          />
        </svg>
      </div>
      <h1
        class="text-s6 md:text-s7 mt-6 font-bold pt-5 pb-7 md:pb-10 text-deep-indigo"
      >
        Editing 'Add a dark theme option'
      </h1>
      <form class="flex flex-col gap-7">
        <label class="flex flex-col gap-1">
          <span class="font-bold text-deep-indigo">Feedback Title</span>
          <span class="text-medium-gray font-normal"
            >Add a short, descriptive headline</span
          >
          <input
            type="text"
            class="text-s3 text-deep-indigo rounded border-none focus:outline focus:outline-dusk-blue bg-lightest-gray px-4 md:px-5 py-3 lg:py-4 mt-3.5 h-[48px]"
          />
        </label>
        <label class="flex flex-col gap-1">
          <span class="font-bold text-deep-indigo">Category</span>
          <span class="text-medium-gray font-normal"
            >Choose a category for your feedback</span
          >
          <select
            class="text-s3 text-deep-indigo rounded border-none focus:outline focus:outline-dusk-blue bg-lightest-gray px-4 md:px-5 py-3 mt-3.5 h-[48px]"
          >
            <option value="">Select a category</option>
            <option value="feedback">Feedback</option>
            <option value="ui">UI</option>
            <option value="ux">UX</option>
            <option value="enhancement">Enhancement</option>
            <option value="bug">Bug</option>
          </select>
        </label>
        <label class="flex flex-col gap-1">
          <span class="font-bold text-deep-indigo">Update Status</span>
          <span class="text-medium-gray font-normal">Change feature state</span>
          <select
            class="text-s3 text-deep-indigo rounded border-none focus:outline focus:outline-dusk-blue bg-lightest-gray px-4 md:px-5 py-3 mt-3.5 h-[48px]"
          >
            <option value="">Select a status</option>
            <option value="suggestion">Suggestion</option>
            <option value="planned">Planned</option>
            <option value="in-progress">In-Progress</option>
            <option value="live">Live</option>
          </select>
        </label>
        <label class="flex flex-col gap-1">
          <span class="font-bold text-deep-indigo">Feedback Detail</span>
          <span class="text-medium-gray font-normal"
            >Include any specific comments on what should be improved, added,
            etc.</span
          >
          <textarea
            type="text"
            class="text-s3 text-deep-indigo h-[7.5rem] md:h-[6rem] rounded border-none focus:outline focus:outline-dusk-blue bg-lightest-gray px-4 md:px-5 py-3 lg:py-4 mt-3.5 resize-none"
          ></textarea>
        </label>
        <div class="flex flex-col gap-4 mt-3.5 md:mt-1.5 md:flex-row-reverse">
          <button
            type="button"
            class="font-semibold bg-rich-purple text-lightest-gray px-6 py-3 rounded-lg hover:bg-opacity-70 transition-all"
          >
            Save Changes
          </button>
          <button
            type="button"
            class="font-semibold bg-deep-indigo text-lightest-gray px-6 py-3 rounded-lg hover:bg-opacity-70 transition-all"
          >
            Cancel
          </button>
          <button
            type="button"
            class="font-semibold bg-brick-red text-lightest-gray px-6 py-3 rounded-lg hover:bg-opacity-70 transition-all md:mr-auto"
          >
            Delete
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
