<dialog
  #asideModal
  class="h-screen fixed top-[4.594rem] left-auto backdrop:outline-red-50 backdrop:outline backdrop:bg-[#000] backdrop:top-[4.594rem] backdrop:bg-opacity-60 m-0 ease-in-out duration-300"
  [ngClass]="isOpen ? 'translate-x-0 has-backdrop' : 'translate-x-full'"
  (click)="toggleAsideModal()"
  (keypress)="toggleAsideModal()"
>
  <aside
    aria-label="feedback-navigation"
    class="w-full h-full bg-lightest-gray flex flex-col items-center px-6 py-6 z-10"
  >
    <nav class="flex flex-col gap-2 mt-5 w-[13.938rem]" aria-label="aside navigation">
      <a
        routerLink="/dashboard"
        routerLinkActive="bg-deep-indigo text-white"
        class="text-dusk-blue px-2 py-1.5 w-full font-semibold flex items-end gap-2 text-lg hover:bg-deep-indigo hover:text-white rounded-md"
      >
        <mat-icon>home</mat-icon>
        <span> Home </span>
      </a>
      <a
        routerLink="/products"
        routerLinkActive="bg-deep-indigo text-white"
        class="text-dusk-blue px-2 py-1.5 w-full font-semibold flex items-end gap-2 text-lg hover:bg-deep-indigo hover:text-white rounded-md"
      >
        <mat-icon>inventory_2</mat-icon>
        Product Board
      </a>
      <a
        routerLink="/feedbacks"
        routerLinkActive="bg-deep-indigo text-white"
        class="text-dusk-blue px-2 py-1.5 w-full font-semibold flex items-end gap-2 text-lg hover:bg-deep-indigo hover:text-white rounded-md"
      >
        <mat-icon>feedback</mat-icon>
        Feedbacks
      </a>
    </nav>
  </aside>
</dialog>
<div
  class="w-full min-h-screen lg:w-11/12 xl:w-10/12 flex flex-col lg:flex-row lg:gap-5 md:px-10 md:py-16 md:pb-0 lg:mx-auto relative"
>
  <aside
    aria-label="feedback-navigation"
    class="hidden lg:flex lg:flex-col gap-2 lg:gap-6 mb-10 h-full lg:w-[15.9375rem]"
  >
    <div
      class="p-6 text-white rounded-lg lg:h-[8.5625rem] w-full bg-tablet-header bg-cover flex flex-col justify-end"
    >
      <h1 class="text-s6 font-bold">Frontend Mentor</h1>
      <h2 class="text-s3 opacity-75">Product Board</h2>
    </div>
    <div
      class="p-6 bg-white rounded-lg w-4/12 lg:w-full h-full flex flex-wrap gap-2 lg:gap-4 md:hidden lg:flex"
    >
      <nav class="flex flex-col gap-2 w-full" aria-label="main navigation">
        <a
          routerLink="/dashboard"
          routerLinkActive="bg-deep-indigo text-white"
          class="text-dusk-blue px-2 py-1.5 w-full font-semibold flex items-end gap-2 text-lg hover:bg-deep-indigo hover:text-white rounded-md"
        >
          <mat-icon>home</mat-icon>
          <span> Home </span>
        </a>
        <a
          routerLink="/products"
          routerLinkActive="bg-deep-indigo text-white"
          class="text-dusk-blue px-2 py-1.5 w-full font-semibold flex items-end gap-2 text-lg hover:bg-deep-indigo hover:text-white rounded-md"
        >
          <mat-icon>inventory_2</mat-icon>
          Products
        </a>
        <a
          routerLink="/feedbacks"
          routerLinkActive="bg-deep-indigo text-white"
          class="text-dusk-blue px-2 py-1.5 w-full font-semibold flex items-end gap-2 text-lg hover:bg-deep-indigo hover:text-white rounded-md"
        >
          <mat-icon>feedback</mat-icon>
          Feedbacks
        </a>
      </nav>
    </div>
  </aside>
  <div class="lg:w-10/12 relative flex-grow">
    <header
      class="text-white flex justify-between items-center py-4 px-6 bg-mobile-header bg-cover lg:hidden"
    >
    <div>
      <h1 class="text-s3 font-bold">Frontend Mentor</h1>
      <h2 class="text-s1 font-medium opacity-75">Product Board</h2>
    </div>
    <button
      class="relative group"
      type="button"
      (click)="toggleAsideModal()"
      (keypress)="toggleAsideModal()"
    >
      <div
        class="relative flex overflow-hidden items-center justify-center transform transition-all duration-200"
      >
        <div
          class="flex flex-col justify-between w-[20px] h-[18px] transform transition-all duration-300 origin-center overflow-hidden"
        >
          <div
            class="bg-white h-[3px] w-5 transform transition-all duration-300 origin-left"
            [ngClass]="{ 'translate-x-10': isOpen }"
          ></div>
          <div
            class="bg-white h-[3px] w-5 rounded transform transition-all duration-300 delay-75"
            [ngClass]="{ 'translate-x-10': isOpen }"
          ></div>
          <div
            class="bg-white h-[3px] w-5 transform transition-all duration-300 origin-left delay-150"
            [ngClass]="{ 'translate-x-10': isOpen }"
          ></div>
          <div
            class="absolute items-center justify-between transform transition-all duration-500 top-2.5 -translate-x-10 flex w-0"
            [ngClass]="{ '-translate-x-10 w-12': !isOpen }"
          >
            <div
              class="absolute bg-white h-[3px] w-5 transform transition-all duration-500 delay-300"
              [ngClass]="!isOpen ? 'rotate-0' : 'rotate-45'"
            ></div>
            <div
              class="absolute bg-white h-[3px] w-5 transform transition-all duration-500 delay-300"
              [ngClass]="!isOpen ? '-rotate-0' : '-rotate-45'"
            ></div>
          </div>
        </div>
      </div>
    </button>
    </header>
    <main
      class="text-s1 h-[calc(100vh_-_128px)] md:h-[calc(100vh_-_375px)] lg:h-[calc(100vh_-_156px)] px-5 pt-8 pb-12 md:pb-14 lg:pb-30 md:px-0 md:pt-0 md:mt-5 overflow-y-auto"
    >
      Content Area
    </main>
  </div>
</div>
