<div>
  <header class="bg-deep-indigo py-8 px-6 flex justify-between items-center">
    <div class="text-white">
      <button
        id="goBack"
        type="button"
        class="font-bold text-white text-s2 inline-flex gap-3.5 items-center transition-all"
      >
        <svg
          width="6"
          height="10"
          viewBox="0 0 6 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-white"
        >
          <path d="M4.33447 9L0.334473 5L4.33447  1" stroke-width="2" />
        </svg>
        Go Back
      </button>
      <h1 class="font-bold text-s6">Roadmap</h1>
    </div>
    <button
      id="edit-feedback"
      type="button"
      class="font-semibold bg-rich-purple text-lightest-gray px-5 md:px-6 py-3 rounded-xl hover:bg-opacity-70 transition-all"
    >
      + Add Feedback
    </button>
  </header>
</div>
