<div>
  <header class="bg-deep-indigo py-8 px-6 flex justify-between items-center">
    <div class="text-white">
      <button
        id="goBack"
        type="button"
        class="font-bold text-white text-s2 inline-flex gap-3.5 items-center transition-all"
      >
        <svg
          width="6"
          height="10"
          viewBox="0 0 6 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-white"
        >
          <path d="M4.33447 9L0.334473 5L4.33447  1" stroke-width="2" />
        </svg>
        Go Back
      </button>
      <h1 class="font-bold text-s6">Roadmap</h1>
    </div>
    <button
      id="edit-feedback"
      type="button"
      class="font-semibold bg-rich-purple text-lightest-gray px-5 md:px-6 py-3 rounded-xl hover:bg-opacity-70 transition-all"
    >
      + Add Feedback
    </button>
  </header>
  <main>
    <div class="border-b border-b-darkest-gray flex justify-evenly">
      <button
        id="planned"
        type="button"
        class="text-s3 text-center text-deep-indigo text-opacity-40 font-bold w-full px-5 py-6"
      >
        Planned &lpar;2&rpar;
      </button>
      <button
        id="in-progress"
        type="button"
        class="text-s3 text-center text-deep-indigo font-bold w-full px-5 py-6 border-b-4 border-b-rich-purple"
      >
        In-Progress &lpar;3&rpar;
      </button>
      <button
        id="live"
        type="button"
        class="text-s3 text-center text-deep-indigo text-opacity-40 font-bold w-full px-5 py-6"
      >
        Live &lpar;1&rpar;
      </button>
    </div>
  </main>
</div>
