<main class="p-5 text-s4">
  <h1 class="text-s7 text-royal-blue">Product Feedback App</h1>
  <p>
    A responsive web application challenge from
    <a
      href="https://www.frontendmentor.io/challenges/product-feedback-app-wbvUYqjR6"
      class="hover:underline text-rich-purple"
      >frontend mentors</a
    >
    for collecting product feedback.
  </p>
  <h2 class="mt-2">Built with:</h2>
  <ul class="list-disc list-inside">
    <li>Angular 17</li>
    <li>TailwindCSS</li>
    <li>Flowbite UI Library</li>
  </ul>
  <section class="mt-5">
    <h2 class="text-s6">Components</h2>
    <h3 class="text-s5">Buttons</h3>
    <div class="mt-2">
      <div class="flex gap-2">
        <app-button [customClass]="'bg-rich-purple w-[158px]'"
          >Button 1</app-button
        >
        <app-button [customClass]="'bg-royal-blue w-[158px]'">
          Button 2
        </app-button>
        <app-button [customClass]="'bg-deep-indigo w-[158px]'"
          >Button 3</app-button
        >
        <app-button [customClass]="'bg-brick-red w-[158px]'"
          >Button 4</app-button
        >
      </div>
      <div class="mt-5">
        <div class="flex gap-2">
          <app-go-back-button [customClass]="'text-dusk-blue py-2 px-5'"
            >Go Back</app-go-back-button
          >
          <app-go-back-button
            [customClass]="'text-white bg-dusk-blue py-2 px-5'"
            >Go Back</app-go-back-button
          >
        </div>
      </div>
      <div class="mt-5">
        <app-tag-button>UX</app-tag-button>
        <app-tag-button>Enhancement</app-tag-button>
      </div>
      <div class="mt-5">
        <app-vote-button>99</app-vote-button>
        <app-vote-button>100</app-vote-button>
      </div>
      <app-sort-menu class="w-[255px] block"></app-sort-menu>
    </div>
    <div class="mt-5">
      <h3 class="text-s5">Form Elements</h3>
      <form class="flex flex-col gap-5">
        <app-form-control>
          <app-form-label
            heading="Name"
            description="Enter your fullname"
            htmlFor="name"
          ></app-form-label>
          <app-form-input inputId="name"></app-form-input>
        </app-form-control>
        <app-form-control>
          <app-form-label
            heading="Email"
            description="Enter email address"
            htmlFor="email"
          ></app-form-label>
          <app-form-input inputId="email"></app-form-input>
        </app-form-control>
        <app-form-control>
          <app-form-label
            heading="Title"
            description="Choose title"
            htmlFor="title"
          ></app-form-label>
          <app-form-select
            selectId="titles"
            [options]="menuOptions"
          ></app-form-select>
        </app-form-control>
        <app-button [customClass]="'bg-royal-blue w-[158px]'"
          >Submit</app-button
        >
      </form>
    </div>
  </section>
</main>
