<main class="p-5 text-s4">
  <h1 class="text-s7 text-royal-blue">Product Feedback App</h1>
  <p>
    A responsive web application challenge from
    <a
      href="https://www.frontendmentor.io/challenges/product-feedback-app-wbvUYqjR6"
      class="hover:underline text-rich-purple"
      >frontend mentors</a
    >
    for collecting product feedback.
  </p>
  <h2 class="mt-2">Built with:</h2>
  <ul class="list-disc list-inside">
    <li>Angular 17</li>
    <li>TailwindCSS</li>
    <li>Flowbite UI Library</li>
  </ul>
</main>
